.carousel {
    width: 40rem;
  /*  border: 1px solid black;*/
    display: inline-block;
    margin-left: 5%;
    text-align: center;
    color : white;
}

.slide {
    height: 20rem;
    width: 40rem;
}

.slide img {
    height: 18rem;
    width: 40rem;
}

.slide span{    
    font-family: Verdana;
    text-align: center;
    background-color: #F8F8FF;
    width: 100%;
    display:block;
    color:black;
}

.slide.get_now {
    background-image:url('../img/plugin/iphone_5_now_tmobile.jpg');
    color : black;
    font-family: Verdana;
    text-align: center;
}

.slide a {
    display: inline-block;
}

.drop {
    border-color: black;
    height: 30rem;
    border-style: solid;
    float: right;
    width: 40rem;
}